<div class="list-group-item" [ngClass]= "{'list-group-item': true,
                                          'list-group-item-danger': postLoveIts < 0,
                                          'list-group-item-success': postLoveIts > 0}">
  <header>
    <h4 [ngClass]="{'': true,
                    'danger': postLoveIts < 0,
                    'success': postLoveIts > 0}">
      Titre du poste : {{ postTitle }}
    </h4>
  </header>

  <div>
    Contenu du poste : {{ postContent }}
  </div>

  <div>
    Nombre de "j'aime" : {{ postLoveIts }}
  </div>

  <div>
    Poste créer le {{ postCreatedAt | date: 'short' }}
  </div>

  <footer>
    <button class="btn like" (click)="onLike()">Love it !</button>
    <button class="btn dislike" (click)="onDislike()">Don't love it !</button>
  </footer>
</div>