<ul class="list-group">
  <li *ngFor="let post of posts"
      [ngClass]= "{'list-group-item': true,
                   'list-group-item-danger': post.loveIts < 0,
                   'list-group-item-success': post.loveIts > 0}">
    <app-post-item [postTitle]="post.title"
                   [postContent]="post.content"
                   [postLoveIts]="post.loveIts"
                   [postCreatedAt]="post.createdAt">
    </app-post-item>
  </li>
</ul>