$like-color: green;
$dislike-color: red;
$text-button-color: white;

li.list-group-item
{
    margin: 5px 0;
    h4.danger
    {
        color: $dislike-color;
    }
    h4.success
    {
        color: $like-color;
    }
}

ul.list-group
{
    margin: 15px 0;
    border: 1px solid black;
    padding: 8px;
}

.btn
{
    margin: 0 5px;
    color: $text-button-color;
    font-weight: bold;
}

.btn.like
{
    background-color: $like-color;
}
.btn.dislike
{
    background-color: $dislike-color;
}